/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* NAV */
nav {
    width: 100%;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}

#audioBtn {
    padding: 8px 15px;
    background: crimson;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

/* PARTICLES */
#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

/* HERO */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform 0.1s linear;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 5%;
}

.hero-text h2 {
    font-size: 60px;
    font-weight: bold;
}

/* CONTENT */
.container {
    padding: 80px 40px;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin-top: 40px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* MAP */
.map-buttons {
    margin: 20px 0;
}

.map-buttons button {
    padding: 10px 20px;
    background: orange;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.mapFrame {
    margin-top: 20px;
    min-height: 300px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.3);
}

/* REVEAL ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease-out;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}